@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* .slick-prev:before, .slick-next:before {
    color: black;
} */








/* 
.browserSection {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; 
  }
  
  .browserSection .heading {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 30px; 
    color: rgb(235, 234, 233);
  }
  
  .browserSection .row {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom:40px ;
  }
  
  .browserSection .row div {
    width: 160px;
    height: 210px;
    background-color: black; 
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;

  }
  
 

  
  .browserSection .row div h5{
    font-size: 16px;
    text-align: center;
    color: white;
  }
  
  .browserSection .imgplus:hover{
    background-color: rgb(241, 241, 241);
  }

  .browserSection .row .imgdiv img{
    width: 100%;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    max-height: 200px;
    max-width: 200px;
    min-height: 84px;
    min-width: 84px;
    text-decoration: none;
    
  }
  .browserSection .row .imgdiv{
    margin-bottom: 20px;

  }

  .browserSection .row .imgdiv:hover{
    border: 3px solid rgb(241, 241, 241);
  }



  .browserSection .write{
    font-size: 20px;
    font-weight: 400;
    color: rgb(138, 138, 138);
    width: 100%;
    text-align: center;
  }
  
  .browserSection .manageButton {
    background-color: transparent;
    color: rgb(150, 149, 149);
    font-size: 1.2rem;
    padding: 10px 20px;
    border: 1px solid  rgb(150, 149, 149);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 50px;
  }
  

 */




















 .browserSection {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
}

.heading {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 30px;
  color: rgb(235, 234, 233);
}

.profile-row {
  display: flex;
  justify-content: center;
  /* gap: 20px; */
  margin-bottom: 40px;
}

.profileDiv {
  width: 160px;
  height: 210px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.imgdiv {
  margin-bottom: 20px;
  border-radius: 2px;
}

.profile-img {
  width: 100%;
  max-height: 200px;
  max-width: 200px;
  border-radius:5px;
  background-repeat: no-repeat;
  background-size: cover;

}
.profile-img:hover{
  border:3px solid #fff;
}



.profile-name {
  font-size: 20px;
  font-weight: 400;
  color: rgb(138, 138, 138);
  text-align: center;
}

.imgdiv{
width: 140px;
height: 152px;
display: flex;
align-items: center;
justify-content: center;
}

.imgplus:hover {
  background-color: rgb(241, 241, 241);
  transition: 0.3s ease;

}

.manageButton {
  background-color: transparent;
  color: rgb(150, 149, 149);
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 1px solid rgb(150, 149, 149);
  cursor: pointer;
  border-radius: 5px;
  margin-top: 50px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(30, 30, 30);
  color: white;
  padding: 30px;
  border-radius: 6px;
  width: 650px;
  /* text-align: center; */
  border: 1px solid #fff;
}


.profileInput {
  padding: 10px;
  margin-bottom: 10px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: transparent;
  color: #fff;
}

.profileInput::placeholder {
  color: rgb(254, 254, 254);
  transition: color 0.3s ease;
}

.kidsProfile{
  text-align: left;
}
.kidsProfile p{
  color: rgb(147, 147, 147);
  font-weight: 400;
}

.modal-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.modal-btn {
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ok-btn {
  background-color: #fff;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}
.ok-btn:hover{
  background-color: #cbcbcb;
}

.cancel-btn {
  background-color: transparent;
  color: white;
  width: 100%;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 400;
}
.cancel-btn:hover {
  background-color: rgb(61, 61, 61);
  transition: 0.3s ease;
}




/*  browser section */

.mainbrowse{
  background-color: #1a1919;
}

.mainbrowse .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 70px;
  display: flex;
  justify-content:flex-start;
  align-items:start;
  background-color: transparent; 
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure navbar is above other content */
  width: 100%;
  
}

.mainbrowse .navbar img{
  width: 100px;
  height: 40px;
}
.mainbrowse .navbar.scrolled {
  background-color: #121212;
}

.mainbrowse .nav-links {
  list-style: none;
  display: flex;
  gap: 27px;
  justify-content: flex-start;
  margin-top: 7px;

}

.mainbrowse .nav-links li {
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  letter-spacing: -1px;
  word-spacing: 2px;
  font-weight: 400;

}

.mainbrowse .nav-links li:hover {
  color: #ddd;
}


.mainbrowse .navbar-buttons {
  margin-left: auto;  
  display: flex;
  gap: 10px;
}

.mainbrowse .nav-btn {
  font-size: 18px;
  padding: 8px 9px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



/* Hamburger Icon */
.menu-icon {
  display: none;
  cursor: pointer;
  color: white;
}
/* Align the buttons and hamburger menu to the right */
.navbar-buttons, .menu-icon {
  margin-left: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      background-color: rgb(60, 60, 60);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100vh;
      transform: translateX(100%);
      transition: transform 0.3s ease;
  }

  .nav-links.open {
      transform: translateX(0);
  }

  .navbar-buttons {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .navbar-buttons.open {
      display: flex;
  }

  /* Show the hamburger menu on mobile */
  .menu-icon {
      display: block;
      font-size: 1.5rem;
  
  }



  .mainbrowse  .left-content, .right-content {
    position: absolute;
    top: 90%;
    transform: translateY(-50%);
    color: rgb(231, 19, 19); /* White text for visibility */
    padding: 20px;
    border-radius: 8px;

  }
  
  
}



/* VideoSection.css */

/* Container for the video background */
.mainbrowse  .video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Styling for the background video */
.mainbrowse  .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the entire container */
  /* z-index: -1; */

}

/* Left and right content on top of the video */
.mainbrowse  .left-content, .right-content {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  color: white; /* White text for visibility */
  padding: 20px;
  /* background-color: rgba(0, 0, 0, 0.5);  */
  border-radius: 8px;
}

.mainbrowse  .left-content {
  left: 10px; 
}

.mainbrowse  .right-content {
  right: 10px; 
}






/* videorow title card */

.videoRow-title-card {
  position: relative;
  max-width: 95%;
  margin: auto;
  padding-top: 34px;
}

.rowheader {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.rowtitle {
  text-decoration: none;

}

.row-header-title {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;

}

.more-visible {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
}

.aro-row-icon, .see-all-links {
  display: none;
}

.rowheader:hover .aro-row-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #54b9c5;
  margin-left: 5px;
  transition: ease-in 0.5s;
  padding-top: 11px;
  
}

.more-visible:hover .see-all-links {
  display: block; 
  transition: ease-in 0.9s;
  padding-top: 9px;


}

.see-all-links {
  margin-left: 5px;
  font-size: 14px;
  color: #54b9c5; 
  cursor: pointer;
  transition: ease-in 0.5s;

}






/* slider container videos */

.slider-container {
  position: relative;
  max-width: 95%;
  margin: auto;
  /* overflow:hidden; */
  margin-top: -15px;
}

.slides-wrapper {
  width: 100%;
  display: flex;
  cursor: pointer;
  transition: transform 0.9s ease-in-out;
}

.slides {
  display: flex;
  width: 100%; /* Since we have 5 slides */
}

.slide {
  display: flex;
  justify-content: space-between;
  min-width: 100%; /* Each slide takes up the full container width */
}

.slide img {
  width: 20%; /* Ensures 4 images fit in a row */
  height:auto;
  border-radius: 10px;
 
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.725);
  color: white;
  border: none;
  padding: 30px 6px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  transform: translateY(-50%);
}

.prev-slide {
  left: 10px;
}

.next-slide {
  right: 10px;
}

.prev-slide:hover,
.next-slide:hover {
  background-color: rgba(0, 0, 0, 0.8);
}





.mainbrowse .grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.mainbrowse .row {
  display: flex;
  gap: 10px;
}

.mainbrowse .column {
  width: 300px;
  height: 200px;
  background-color: lightgray;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s;
}

.mainbrowse .column-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.mainbrowse .column:hover {
  transform: scale(1.05);
}

.mainbrowse .column:hover .column-content {
  opacity: 1;
}





/* footer browser */

.mainbrowse .footer {
  background-color: #1a1919;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.browse-footer-btn{
  border: 1px solid #414040;
  background-color: transparent;
  color: rgb(101, 101, 101);
  padding: 5px 10px;
}
.browse-footer-p{
  font-size: 13px;
  background-color: transparent;
  color: rgb(101, 101, 101);
  padding: 10px 0px;
}