/* .first-home-section{
    background-color: #000;
    color: #fff;
    height: 80vh;
    width: 100%;
  } */








  /* home section */

.home-section{
  background-color: #000;
  color: #fff;
  width: 100%;
}

.display-class{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  padding: 70px 0px;
}
.home-section .row .first-home{
  max-height: 100%;
}
.home-section .row .col{
  margin: auto;
  align-items: center;
  text-align: left;
  max-width: 100%;
}
.home-section .row .first-home h2{
 font-size: 40px;
 font-weight: 900;
}
.home-section .row .first-home p{
  margin: 1.5rem 0 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.home-section .row .col .second-home-img img{
  max-width: 100%;
}








/* .card-tv-video video{
   z-index:1;
    overflow: hidden;
    max-width: 100%;
    height: 100%;
    max-width: 73%;
    max-height: 54%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(21%, -47%);
}

.card-tv-video video {
  display: inline-block;
  vertical-align: baseline;
} */




/* .second-home-img {
  position: relative;
}

.second-home-img img {
  max-width: 100%;
  height: auto;
  display: block;
} */

/* .card-tv-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.card-tv-video video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none; 
} */



/* second sectionn */
.second-section{
  background-color: #000;
  color: #fff;
  /* width: 100%; */
}


.second-section .container .row{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  padding: 70px 0px;
}

.second-section .row .imgcol{
  max-height: 100%;
}
.home-section .row .col{
  margin: auto;
  align-items: center;
  text-align: left;
  max-width: 100%;
}
.second-section .row .col .second-home-img1 img{
  max-width: 100%;
}
@media (max-width: 960px) {
  .display-class {
      flex-direction: column;
      text-align: center; 
  }
  .first-home .heading{
    color: red;
    font-size: 12px;
  }

  .first-home, .second-home {
      flex: 1;
      max-width: 100%;
  }
  .first-home{
    order: 1;
    text-align: center;
  }
  .second-home{
    order: 2;
  }
}


/* @media (max-width: 768px) {
 .second-section .display-class {
      flex-direction:row;  
  }

 .second-section .first-home, .second-home-img {
      flex: 1;
      max-width: 100%;
  }
  .second-home-img1{
    order: 1;
  }
  .imgcol{
    order: 2;
  }
} */





/* third section */
.third-section{
  background-color: #000;
  color: #fff;
}

.third-section .container .row{
  position: relative;
  display: flex;
  text-align: left;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  max-width: 100%;
  padding: 70px 0px;
}

.third-section .row h1{
  font-size: 49px;
  font-weight: 900;
  text-align: left;
  margin: auto;
}
.third-section .row p{
  font-size: 24px;
  font-weight: 400;
  padding-top: 12px;
  line-height: 31px;
}


/* forth section */
.forth-section .row .forth-heading{
  font-size: 48px;
  font-weight:800;
}
.forth-section .row .forth-paragraph{
  font-size: 26px;
  font-weight: 400;
}




/* Frequently asked question secton */
.frequently-question{
  background-color: #000;
  color: #fff;
  max-width: 100%;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frequently-question .row .col-12 h1{
  text-align: center;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 800;
}
.frequently-question .row .col-12 p{
  text-align: center;
  font-size: 20px;
}



/* .hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
} */



.frequently-question .inputs{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
.frequently-question .row input {
  padding: 20px 160px 14px 20px;
  font-weight:600;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: rgba(23, 23, 23, 0.7);
  color: white;
  align-items: center;
  
}
.frequently-question .row input::placeholder{
  color:white;
  font-weight: 200;
}





.question .container .ask-qus {
  padding: 10px 0 10px 0;
  /* padding-right: 240px; */
}
.question .container .ask-qus .ask1{
  margin-bottom: 12px;
}
.question .container .ask-qus .ask1 .details{
  background-color: rgba(58, 58, 58, 0.744);
  color: white;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
  margin-bottom: 1px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

 
}

.question .container .ask-qus .ask1 .details:hover{
  background-color: rgba(70, 70, 70, 0.907);
  transition: background-color 0.3s ease;
}
.question .container .ask-qus .ask1 p{
  color: white;
  background-color: rgba(58, 58, 58, 0.744);
  font-size: 25px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 10px;
  
}


.question .container .ask-qus .ask1 svg{
  font-weight: bold;
  height: 50px;
  width: 40px;
}
.question .container .ask-qus .ask1 button{
  background-color: transparent;
  border: none;
  color: white;

}

.question .container .ask-qus .ask1 button .icon2{
  display: none;
}






 
  /* Centering the container vertically and horizontally */
.finish-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
}

.content {
  width: 500px;  /* Fixed width for the container */
  padding: 20px;
  /* background-color: #f9f9f9; */
  text-align: center;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.logos img {
  width: 100%;  /* Logo size */
  height: 100%;
}

.finish-container h1 {
  font-size: 36px;
  font-weight:bold;
  color: #000;
  margin: 0 0 8px;
  margin-bottom: 30px;
}
.finish-container p{
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 20px;

}


.finish-container .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 5px;
}

.finish-container .checkbox-container input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  appearance: none;  
  -webkit-appearance: none; 
  border: 1px solid #000;
  background-color: #fff;
}

.finish-container input[type="checkbox"]:checked {
  background-color: #000; 
  border: 1px solid white;
  position: relative;
}
.finish-container input[type="checkbox"]:checked::before {
  content: '✔';  
  color: #fff;  
  position: absolute;
  left: -1px;
  top: -5px;
  font-size: 15px;
}

.finish-container .finishbtn {
  width: 100%;
  padding: 10px;
  background-color: rgb(233, 1, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.finishbtn:hover {
  background-color: rgb(205, 2, 2);
}
.finish-container .finishbtn:last-child{
  background-color:rgb(211, 211, 211);
  color: #000;
}
 
.finish-container .finishbtn:last-child:hover{
  background-color: rgb(217, 217, 217);
}
