
.signup-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* button:hover {
    background-color: #0056b3;
  } */
  




.signin-container {
  max-width: 480px;
  margin: auto;
  padding: 40px 60px 30px 60px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.859);
  color: #fff;
  position: relative;
  z-index: 10;
  margin-top: 50px;
}
.signin .box{
  opacity: 0.4;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 15px;
}

/* label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
} */

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-group input::placeholder{
  color: #fff;
  /* opacity: 1; */
  font-size: 18px;
  font-weight: 400;
}


  .signin {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signin:hover {
  background-color: rgb(225, 3, 3);
}
.signin-code{
  width: 100%;
  padding: 10px;
  background-color: rgb(76, 76, 76);
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

.link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;

}
.link:hover{
  text-decoration-line: underline;
}
.new-netflix{
  font-size: 18px;
  font-weight: 500;
  color: rgb(148, 148, 148);
}
.captcha{
  font-size: 14px;
}
.checkbox{
  display: flex;
  align-items: center;
  justify-content:left;
}
.checkbox input[type="checkbox"]{
  padding: 10px;
  width: 17px;
  height: 17px;
  appearance: none;  
  -webkit-appearance: none; 
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  margin-right: 10px;
}
.checkbox h6{
  font-size: 18px;
  margin-top: 7px;
  font-weight: 400;
}
.checkbox input[type="checkbox"]:checked {
  background-color: white; 
  border: 1px solid white;
  position: relative;
}

.checkbox input[type="checkbox"]:checked::before {
  content: '✔';  
  color: #000;  /* Checkmark color (blue) */
  position: absolute;
  left: 1px;
  top: 0px;
  font-size: 13px;
}





.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-container .content {
  width: 500px;  
  padding: 20px;
  text-align: left;
}



.password-container h1 {
  font-size: 33px;
  font-weight:500;
  color: #343434;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: left;

}
.password-container p{
  font-size: 20px;
  font-weight: 400;
  color: #3b3b3b;
  margin-bottom: 20px;
  text-align: left;

}


.password-container .input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  position: relative;
}

.password-container .input-container input {
  width: 100%;
  margin-bottom: 15px;
  padding: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px; 

 

}


.password-container .input-container label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #2e2e2e;
  transition: all 0.3s ease;
  pointer-events: none; 
}

.password-container .input-container input:focus + label,
input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 13px;
  font-weight: 400;
  color: #2e2e2e;
}
.password-container .input-container input:not(:placeholder-shown) + label {
  top: -1px;
  font-size: 13px;
  font-weight: 400;

  color: #2e2e2e;
}



.password-container .btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(233, 1, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
}

.password-container .btn:hover {
  background-color: rgb(211, 3, 3);
  color: white;
}




/* chose plane */


.choseplan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.choseplan-container .content {
  text-align: center; 
  padding: 30px;
  border-radius: 10px;
  max-width: 380px;
  margin: 0 auto;
}

.choseplan-container .img img {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}

.choseplan-container span {
  font-size: 16px;
  color: #464646; 
}

.choseplan-container h1 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 20px;
}

.choseplan-container .context-body {
  list-style-type: none; 
  padding: 0;
  margin: 20px 0;
}

.choseplan-container .context-body li {

  display: flex;
    align-items: left; 
    justify-content: left; 
    margin-bottom: 10px;
    padding: 10px;
}
.choseplan-container .context-body li span {
  display: flex;
  align-items: left; 
  justify-content: left;
  margin-right: 10px;
  color: red;
  margin-top: 10px;
 
}
.choseplan-container .context-body li p {
  padding-left: 10px;
  margin: 0;
  margin-top: 0;
  font-size: 20px;
  font-weight: 450;
  text-align: left;
  line-height: 23px;
}



.choseplan-container .btn {
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(222, 2, 2);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.choseplan-container .btn:hover {
  background-color: rgb(245, 2, 2); /* Darker shade on hover */
}




/* Pricing Section Container */
.pricing-section {
  text-align: center;
  padding: 50px 20px;
}

.section-heading{
  text-align: left;
}
.section-heading h1 {
  font-size: 38px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 57px;
  color: #2c2c2c;
}
.section-heading span{
  font-size: 15px;
  color: #495057;
  text-transform: uppercase;
  padding-left: 13px;
}

/* Pricing Row */
.pricing-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

/* Each Column */
.pricing-col {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  flex: 1;
  max-width: 24%;
  box-sizing: border-box;
  transition: transform 0.3s ease;
  border: 1px solid rgb(175, 172, 172);
  text-align: left;
  cursor: pointer;
}

.pricing-col:hover {
  transform: scale(1.012);
}

 .card-shadow{
  box-shadow: 1px 0px 8px rgba(45, 45, 45, 0.7);
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid grey;
}

/* Column Header */
.col-header {
  background: linear-gradient(to top left, #1e8ae2, #043174);
  color: white;
  padding:10px 15px;
  font-size: 20px;
  border-radius: 10px ;
  text-align: left;
  line-height: 1px;
 }
.col-header h4{
  font-size: 22px;
  font-weight: 400;

}
.col-header h5{
  line-height: 15px;
  font-size: 19px;
  font-weight: 400;
}

.col-header-color1{
  background: linear-gradient(to top left, #7145f2, #043174);
}
.col-header-color2{
  background: linear-gradient(to top left, #996af2, #022e6a);
}
.col-header-color3{
  background: linear-gradient(to top left, #eb0839, #023e77);
}

/* Column Content */
.col-content {
  padding: 20px;
}

.col-content p{
  font-size: 16px;
  font-weight: 500;
  color: rgb(120, 120, 120);
}
.col-content h5{
  font-size: 16px;
  font-weight: 500;
  color: rgb(78, 78, 78);
  
}

.price {
 line-height: 15px;
  border-bottom: 1px solid rgb(172, 172, 172);
  margin-bottom: 30px;
  padding-bottom: 12px;
  

}

.description {
 
  margin-bottom: 20px;
  line-height: 15px;
    border-bottom: 1px solid rgb(172, 172, 172);
    padding-bottom: 12px;

}

.feature {
  margin-bottom: 20px;
  line-height: 15px;
    border-bottom: 1px solid rgb(172, 172, 172);
    padding-bottom: 12px;

}
.download{
  margin-bottom: 20px;
  line-height: 15px;
    padding-bottom: 12px;

}

.note {
  margin-bottom: 20px;
  line-height: 15px;
  border-bottom: 1px solid rgb(172, 172, 172);
   padding-bottom: 12px;

}
.noteparagraph{
  font-size: 14px;
  color: grey;
  text-align: left;
  line-height: 30px;
}

.pricebutton .btn {
  display: inline-block;
  padding: 4px 220px;
  background-color: #d40909;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: 21px;
  transition: background-color 0.3s ease;
}

.pricebutton .btn:hover {
  background-color: #c90126;
}

/* Responsive */
@media (max-width: 768px) {
  .pricing-col {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .pricing-col {
    flex: 1 1 50%;
    margin-bottom: 20px;
  }

  .col-content {
    display: none; 
  }

  .col-content.show {
    display: block; /* Show content when clicked */
  }
}



.choose-pay-method {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.choose-pay-method .content {
  text-align: center; 
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;

}

.choose-pay-method h1 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 19px;
}
.choose-pay-method h5{
  color: #393838;
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 400;

}
.choose-pay-method h4{
  font-size: 19px;
  font-weight: 600;
  color: #1b1b1b;
  margin-bottom: 20px;
}


.choose-pay-method .img img {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}
.choose-pay-method .encrypted{
  text-align: end;
  margin-top: 5px;
}

.choose-pay-method .debit-card{
  
  background-color: #fff;
  padding: 20px 5px;
  border: 2px solid rgb(164, 164, 164);
  border-radius: 5px;
  margin-top: -10px;
  width: 100%;
}
.choose-pay-method .debit-card span:first-child{
  font-size: 17px;
  font-weight: 500;
}
