.debit-card-form {
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    /* background-color: #f9f9f9; */
  }
  .debit-card-form .firstrow .firstcol .head h2{
    font-size: 35px;
    font-weight: bold;
  }
  
  .debit-card-form .row {
    display: flex;
    flex-direction: inline;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .debit-card-form .col {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .debit-card-form input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .debit-card-form .calendar-icon {
    margin-left: 10px;
    font-size: 20px;
  }

  
  .debit-card-form .membership {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    padding: 13px 0px;
    background-color: #e91010;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* margin: 0px 10px 0px 10px; */
    margin-top: 40px;
    margin-bottom: 20px

  }
  
  .debit-card-form .membership:hover {
    background-color: #cd0a0a;
  }
  
  .debit-card-form p {
    font-size: 15px;
    font-weight: 400;
    color: rgba(153, 152, 152, 0.936);
    text-align: left;
  }

  .debit-card-form  p a{
    text-decoration: none;
    color: #007bff;

 }
  .debit-card-form  p a:hover{
    text-decoration: underline;
    color: #007bff;
  }
  

  .debit-card-form .remember-row {
    display: flex;
    align-items:center; 
    justify-content: left;
  }
  
  .debit-card-form .remember-row input[type="checkbox"] {
    width: 25px;
    height: 25px; 
    margin-top: 8px;

  }
  .debit-card-form .remember-row span:last-child{
    font-size: 19px;
    font-weight: 500;
    color: grey;
  }
  